body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: steelblue;
}

#main-play-area {
    background-color: black;
    background-image: url('../img/space.png');
    height: 600px;
    width: 800px;
}

.game-instructions {
    position: relative;
    color: white;
    left: 8rem;
    top: 0px;
    font-size: 1.5rem;
}

.start-button {
    position: relative;
    color: white;
    top: 8rem;
    left: 19rem;
    font-size: 2rem;
    cursor: pointer;

}

.player-shooter {
    position: relative;
    height: 60px;
    width: 70px;
    left: 20px;
    top: 250px;
}

.laser {
    position: relative;
    width: 40px;
    height: 30px;
}

.alien {
    position: relative;
    height: 60px;
    width: 70px;
}

.alien-transition {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.dead-alien {
    height: 60px;
    width: 70px;
    opacity: 0;
}